@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
}

.nav-left-content {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.nav-container .nav-left-content .logo img {
    height: 80px;
    width: 150px;
}

.nav-container .nav-left-content .nav-links {
    width: 40%;
    margin-right: 175px;
}

.nav-container .nav-left-content .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.nav-container .nav-left-content .nav-links ul li {
    font-family: 'Bebas Neue', sans-serif;
    line-height: 25px;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-container .nav-left-content .nav-links ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-container .nav-left-content .nav-links ul li a:hover {
    transition: 300ms ease;
    color: #B73E3E;
}

.nav-container .nav-right-content {
    width: 55px;
    height: 65px;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container .nav-right-content .login-icon {
    cursor: pointer;
}

.nav-container .nav-right-content a img {
    height: 25px;
    width: 20px;
}

.nav-container .login-icon:hover {
    transition: 300ms;
    padding: 10px;
    border-radius: 100px;
    background-color: #c2c2c2c2;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container .banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .banner video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.container .banner h1 {
    color: #fff;
    font-size: 5.5rem;
    font-family: 'Bebas Neue', sans-serif;
    width: 50%;
    position: absolute;
    left: 150px;
    top: 175px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

.container .banner p {
    color: #fff;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    position: absolute;
    bottom: 25px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}

.carousel-historia-container img {
    width: 100%;
}

.carousel-historia-container {
    margin-top: -65px;
    overflow: hidden;
    height: 100vh;
}

.slides {
    display: flex;
    height: 100vh;
    width: 400%;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.slides>div.slide.first.about-drift {
    background-image: url("../assets/slider-img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slides>div.slide.history {
    background-image: url("../assets/slider-img2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slides>div.slide.how-to {
    background-image: url("../assets/slider-img3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slides>div.slide.criteria {
    background-image: url("../assets/slider-img4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 55%;
    right: 50px;
    margin-top: 100px;
}

.slide h1 {
    line-height: 40px;
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 2.2rem;
    transition: 1s;
    letter-spacing: 1px;
}

.slide p {
    color: #fff;
    font-family: 'Lato';
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 1.5s;
}

.slide p mark{
    background-color: transparent;
    font-style: italic;
    color: #B73E3E;
}

.slide .last-text{
    margin-top: 50px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

.slide ol {
    align-self: flex-start;
    list-style-type: none;
    margin-left: 30px;
}

.slide ol li{
    font-family: 'Lato';
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 1.5s;
    color: #EDDBC0;
    margin-top: 15px;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -55px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #CCCCCC;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #CCCCCC;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #CCCCCC;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 602px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #CCCCCC;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #CCCCCC;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #CCCCCC;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #CCCCCC;
}