@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #DD5353;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
}

.nav-left-content {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.nav-container .nav-left-content .logo img {
    width: 130px;
}

.nav-container .nav-left-content .nav-links {
    width: 40%;
    margin-right: 175px;
}

.nav-container .nav-left-content .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.nav-container .nav-left-content .nav-links ul li {
    font-family: 'Bebas Neue', sans-serif;
    line-height: 25px;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-container .nav-left-content .nav-links ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-container .nav-left-content .nav-links ul li a:hover {
    transition: 300ms ease;
    color: #B73E3E;
}

.nav-container .nav-right-content {
    width: 125px;
    height: 65px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-container .nav-right-content .login-icon,
.nav-container .nav-right-content .agenda-icon {
    cursor: pointer;
}

.nav-container .nav-right-content a img {
    height: 25px;
    width: 20px;
}

.nav-container .nav-right-content .agenda-icon img {
    height: 30px;
    width: 30px;
}

.nav-container .login-icon:hover,
.nav-container .agenda-icon:hover {
    transition: 300ms;
    padding: 10px;
    border-radius: 100px;
    background-color: #EDDBC0;
}

.nav-container .user_login {
    display: none;
    width: auto;
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 35px;
    transition: 1s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 5;
}

.nav-container .user_login a:hover {
    background-color: #EDDBC0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-container .user_login a:not(:last-child:hover) {
    border-top-left-radius: 20px;
}

.nav-container .user_login a {
    display: block;
    padding: 20px 20px;
    font-size: 0.8rem;
    text-decoration: none;
    transition: 0.5s;
    color: #DD5353;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
}

.nav-container .user_login a:not(:last-child) {
    border-bottom: 1px solid #DBC8AC;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title-container {
    background-color: white;
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    align-self: flex-start;
}

.title-container span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-align: center;
    margin: 5px 0;
    width: 100%;
}

hr {
    margin: 20px 0;
    width: 80%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.ficha-piloto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.left-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-right: 40px;
    border-right: 3px solid #DBC8AC;
}

.imgPiloto {
    width: 100%;
    height: 300px;
}

.right-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: -20px;
}

.right-content .nome-nacionalidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.right-content .nome-nacionalidade .nome {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Lato';
    margin-right: 15px;
}

.imgBandeira {
    width: 50px;
    height: 30px;
}

.subtitulo-info {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Lato';
    padding: 15px 0;
    text-transform: uppercase;
}

.idade,
.time-nome,
.fabricante-nome,
.fabricante-pneu {
    font-size: 1rem;
    color: #EDDBC0;
    font-family: 'Lato';
    margin-bottom: 10px;
}

.btn-like {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 160px;
    right: 150px;
    cursor: pointer;
    transition: 0.5s;
}

img[src*="./assets/estrela.png"]:hover {
    content: url(../assets/estrela-marked.png);
}


.like {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 160px;
    right: 150px;
    cursor: pointer;
    transition: 0.5s;
    animation: animation_like 1s normal;
}

@keyframes animation_like {
    0% {
        transform: scale(1.1);
        transform: rotateZ(80deg);
    }

    100% {
        transform: scale(1);
    }
}

.title-toast-alert {
    font-size: 1rem;
    color: #DD5353;
    font-family: 'Lato';
}

.footer-toast-alert {
    font-size: 0.8rem;
    color: #DD5353;
    text-decoration: underline;
    font-family: 'Lato';
}