@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
}

.nav-left-content {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.nav-container .nav-left-content .logo img {
    height: 80px;
    width: 150px;
}

.nav-container .nav-left-content .nav-links {
    width: 40%;
    margin-right: 175px;
}

.nav-container .nav-left-content .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.nav-container .nav-left-content .nav-links ul li {
    font-family: 'Bebas Neue', sans-serif;
    line-height: 25px;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-container .nav-left-content .nav-links ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-container .nav-left-content .nav-links ul li a:hover {
    transition: 300ms ease;
    color: #B73E3E;
}

.nav-container .nav-right-content {
    width: 125px;
    height: 65px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-container .nav-right-content .login-icon,
.nav-container .nav-right-content .agenda-icon {
    cursor: pointer;
}

.nav-container .nav-right-content a img {
    height: 25px;
    width: 20px;
}

.nav-container .nav-right-content .agenda-icon img {
    height: 30px;
    width: 30px;
}

.nav-container .login-icon:hover,
.nav-container .agenda-icon:hover {
    transition: 300ms;
    padding: 10px;
    border-radius: 100px;
    background-color: #EDDBC0;
}

.nav-container .user_login {
    display: none;
    width: auto;
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 35px;
    transition: 1s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 5;
}

.nav-container .user_login a:hover {
    background-color: #EDDBC0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-container .user_login a:not(:last-child:hover) {
    border-top-left-radius: 20px;
}

.nav-container .user_login a {
    display: block;
    padding: 20px 20px;
    font-size: 0.8rem;
    text-decoration: none;
    transition: 0.5s;
    color: #DD5353;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
}

.nav-container .user_login a:not(:last-child) {
    border-bottom: 1px solid #DBC8AC;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container .banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .banner video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.banner-texts{
    width: 50%;
    position: absolute;
    left: 100px;
    top: 175px;
    text-align: center;
}

.container .banner h1 {
    color: #fff;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    letter-spacing: 5px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

.container .banner p {
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}

.carousel-historia-container img {
    width: 100%;
}

.carousel-historia-container {
    margin-top: -65px;
    overflow: hidden;
    height: 700px;
}

.slides {
    display: flex;
    height: 100%;
    width: 400%;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.slides>div.slide.first.about-drift {
    background-image: url("../assets/slider-img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slides>div.slide.history {
    background-image: url("../assets/slider-img2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slides>div.slide.how-to {
    background-image: url("../assets/slider-img3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slides>div.slide.criteria {
    background-image: url("../assets/slider-img4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 55%;
    right: 50px;
    margin-top: 100px;
}

.slide h1 {
    line-height: 40px;
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 2.2rem;
    transition: 1s;
    letter-spacing: 1px;
}

.slide p {
    color: #fff;
    font-family: 'Lato';
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 1.5s;
}

.slide p mark {
    background-color: transparent;
    font-style: italic;
    color: #B73E3E;
}

.slide .last-text {
    margin-top: 50px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    color: #B73E3E;
}

.slide ol {
    align-self: flex-start;
    list-style-type: none;
    margin-left: 30px;
}

.slide ol li {
    font-family: 'Lato';
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 1.5s;
    color: #EDDBC0;
    margin-top: 15px;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -55px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #CCCCCC;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #CCCCCC;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #CCCCCC;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 645px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #CCCCCC;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #CCCCCC;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #CCCCCC;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #CCCCCC;
}

.criterios-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.criterios-section-title {
    line-height: 40px;
    color: #B73E3E;
    font-family: 'Bebas Neue';
    font-size: 2.2rem;
    transition: 1s;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.criterio-left {
    display: flex;
    width: 100%;
}

.criterio-left .criterio-descricao {
    width: 35%;
}

.criterio-left .criterio-descricao h3 {
    font-family: 'Lato';
    font-size: 1.75rem;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #B73E3E;
}


.criterio-left .criterio-descricao p {
    font-family: 'Lato';
    font-size: 1.2rem;
}

.criterio-right {
    display: flex;
    width: 100%;
}

.criterio-right .criterio-descricao {
    width: 35%;
    margin-left: auto;
}

.criterio-right .criterio-descricao h3 {
    font-family: 'Lato';
    font-size: 1.75rem;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #B73E3E;
}


.criterio-right .criterio-descricao p {
    font-family: 'Lato';
    font-size: 1.2rem;
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url(../assets/bg-links-layer.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.left-side,
.right-side {
    width: 50%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.left-side h3,
.right-side h3 {
    font-family: 'Bebas Neue';
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.left-side p,
.right-side p {
    font-family: 'Lato';
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: -125px;
    width: 65%;
    text-align: center;
}

.link-btn {
    font-family: 'Bebas Neue';
    padding: 30px 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.left-side .link-btn {
    background-color: #dd5353;
    color: #fff;
}

.right-side .link-btn {
    background-color: #DBC8AC;
}

.left-side .link-btn:hover {
    background-color: #dd5353;
    color: #fff;
    transition: 0.5s;
    transform: scale(1.2);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
}

.right-side .link-btn:hover {
    background-color: #DBC8AC;
    transition: 0.5s;
    transform: scale(1.2);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
}

.pilotos-container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.pilotos-title {
    color: #B73E3E;
    font-family: 'Bebas Neue';
    font-size: 2.2rem;
    transition: 1s;
    letter-spacing: 1px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.pilotos-title-img {
    width: 20%;
    margin-top: -50px;
}

.pilotos {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.piloto-informations {
    margin-top: 10px;
    margin-left: 10px;
}

.piloto-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    padding: 25px 0;
    background-color: #B73E3E;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.piloto-nome-bandeira {
    display: flex;
    width: 100%;
    background-color: #DD5353;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -23px;
}

.piloto-nome-bandeira p {
    font-size: 1.35rem;
    font-weight: 700;
    font-family: 'Lato';
    color: #fff;
    margin-right: 15px;
    padding: 10px 0;
}

.piloto-nome-bandeira img{
    width: 10%;
    height: 10%;
}

.piloto-img{
    width: 90%;
    height: 90%;
}

.info-title {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Lato';
    letter-spacing: 1px;
    line-height: 30px;
}

.info {
    font-weight: 500;
    font-family: 'Lato';
    font-size: 0.9rem;
}

.ver-mais-piloto {
    color: #B73E3E;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 15px;
    margin-top: 25px;
}

footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #B73E3E;
    width: 100%;
    margin-top: 100px;
    padding: 20px 0;
    box-shadow: 0px -9px 10px rgba(0, 0, 0, 0.2);
}

footer .footer-container img {
    width: 165px;
    height: 75px;
}

footer .footer-container .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer .footer-container .footer-links a {
    color: #fff;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.1rem;
    margin: 25px 0;
    letter-spacing: 1px;
}

footer .footer-container .footer-links a:not(:last-child) {
    margin-right: 50px;
}

footer .footer-container .footer-links a:hover {
    color: #DD5353;
}

footer .footer-container p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
}